@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
    /* ### Primary */
    --softCyan: hsl(174, 77%, 80%); /* Full Slider Bar */
    --strongCyan: hsl(174, 86%, 45%); /* Slider Backround */
    --lightGrayishRed: hsl(14, 92%, 95%); /* Discount Background */
    --lightRed: hsl(15, 100%, 70%); /* Discount Text */
    --paleBlue: hsl(226, 100%, 87%); /* CTA Text */

    /* ### Neutral */
    --white: hsl(0, 0%, 100%); /* Pricing Component Background */
    --veryPaleBlue: hsl(230, 100%, 99%); /* Main Background */
    --lightGrayishBlue: hsl(224, 65%, 95%); /* Empty Slider Bar */
    --lightGrayishBlue: hsl(223, 50%, 87%); /* Toggle Background */
    --grayishBlue: hsl(225, 20%, 60%); /* Text */
    --darkDesaturatedBlue: hsl(227, 35%, 25%); /* Text & CTA Background */
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 600;
    background: url(../images/bg-pattern.svg) no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
